/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: 'lovatolight';
  src: url('../fonts/Lovato-Light-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'josefin-slabbold';
  src: url('../fonts/josefinslab-bold-webfont.woff2') format('woff2');
}
*{
  font-family: lovatolight, serif;
  font-size: 10px;
}
h1{
  font-family: josefin-slabbold, sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
}
h2{
  font-family: josefin-slabbold, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}
body{
  line-height: 14px;
  letter-spacing: 1px;
  word-spacing: 2px;
}
h2+p{
  text-indent: 20px;
}
a:link{
  color: #a66;
  text-decoration: underline;
  
}
a:visited{
  color: rgb(109, 46, 46);
  text-decoration: underline;
}
a:focus{
  color: rgb(216, 175, 175);
  text-decoration: none;
  outline: 0;
}
a:hover{
  color: rgb(186, 31, 31);
  text-decoration: none;
}
:active{
  font-style: italic;
}
a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.25em;
  background-size: 100%;
  background-image: url("../images/external-link-52.png");
}
ol, ul{
  line-height: 14px;
  list-style: square;
}
nav{
  width: 200px;
  height: 410px;
  background-color:rgb(160, 104, 104);
  display: block;
}