html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
div{
  width: 200px;
  height: 200px;
  margin:auto;
  text-align:center;
  font-size: 1.2em;
  background-color: orange;
  color: aqua;
  text-shadow: 2px 2px 2px black;
  border-radius: 3px;
  border: 1px solid orangered;
  background-image: linear-gradient(to top left, black, orange 20%);
  box-shadow: 5px 5px 5px black
}